<!DOCTYPE html>
<html>
<head>
  <title>Dice Game</title>
</head>
<body>
<h1>Game Result</h1>
<p id="result">Click the button to roll the dice.</p>
<button id="roll-button">Roll Dice</button>
<%= link_to "Play Again", play_path %>

<%= javascript_include_tag 'dice_game' %>
</body>
</html>
