<!DOCTYPE html>
<html>
<head>
  <title>Dice Game</title>
</head>
<body>
<h1>Welcome to the Dice Game</h1>
<p>Instructions and game description go here...</p>
<%= link_to "Start Game", play_path %>
</body>
</html>
