<!DOCTYPE html>
<html>
<head>
  <title>Dice Game</title>
</head>
<body>
<h1>Game Result</h1>
<p>You rolled: <%= @result %></p>
<p>Instructions and game status go here...</p>
<%= link_to "Roll Again", play_path %>
</body>
</html>
